<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Names Counter", suffix: " by Juan Carlos Vega" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <div class="flex flex-col h-screen justify-between">
      <header>
        <section>
          <div class="relative">
            <img src={Routes.static_path(@conn, "/images/abstract-bg.jpg")} alt="Phoenix Framework Logo"/>
            <div class="absolute top-0 backdrop-blur-sm h-full w-full bg-white/5"></div>
          </div>
        </section>
      </header>
      <div class="grow flex flex-col px-8 md:px-20 lg:px-30 bg-gray-50 grid-col-1">
        <div class="bg-white grow">
          <%= @inner_content %>
        </div>
      </div>
      <footer class="h-20 bg-slate-900">
      </footer>
    </div>
  </body>
</html>
